@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Rossa';
  src: url('../public/font/BodoniFLF-Roman.ttf');
}

@font-face {
  font-family: 'Lemon';
  src: url('../public/font/LemonMilk.otf');
}


button {
  border: none;
  background-color: #0056b3;
  color: white;
  padding: 8px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;  
}


@keyframes ripple {
  to {
    transform: scale(2);
    opacity: 0;
  }
}



  /* acordion */
  .img:hover{
    flex: 5;
  }
  .img{
    height: 100%;
    border:1px solid #222;
    margin: 0 2px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .img1{ background-image: url("https://res.cloudinary.com/dos8mey8r/image/upload/v1667470248/shoes/lindsay-henwood-7_kRuX1hSXM-unsplash_b8rhuz_zvfjgn.jpg"); }
  .img2{ background-image: url("https://res.cloudinary.com/dos8mey8r/image/upload/v1667470248/shoes/paul-volkmer-updW-QUccFE-unsplash_twqeiu_hokbdd.jpg"); }
  .img3{ background-image: url("https://res.cloudinary.com/dos8mey8r/image/upload/v1667470248/shoes/janko-ferlic-jjDqU0P0-SM-unsplash_x6pqxr_sgrmol.jpg"); }
  

